# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config CONTROL_SYSTEM_OSIGNAL
	bool "Control system output signal support"

if CONTROL_SYSTEM_OSIGNAL

rsource "Kconfig.pwm"

endif # CONTROL_SYSTEM_OSIGNAL
