# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config ZVB_BUS_ZVB
	bool "ZVB Zephyr Virtual Bus device driver"
	default y
	depends on DT_HAS_ZVB_ZVB_BUS_ENABLED
	depends on NETWORKING
	depends on NET_IPV4
	depends on NET_UDP
	depends on NET_SOCKETS

if ZVB_BUS_ZVB

config ZVB_BUS_ZVB_PING_INTERVAL_MS
	int "ZVB Zephyr Virtual Bus ping interval"
	default 100

config ZVB_BUS_ZVB_TRANSFER_BUF_SIZE
	int "Transfer buffer size in bytes"
	default 256

config ZVB_BUS_ZVB_HOST_ADDR
	string "ZVB Zephyr Virtual Bus host address"
	default "127.0.0.1"

config ZVB_BUS_ZVB_HOST_PORT
	int "ZVB Zephyr Virtual Bus host port"
	default 5656

config ZVB_BUS_ZVB_THREAD_PRIORITY
	int "ZVB Zephyr Virtual Bus thread priority"
	default 10

config ZVB_BUS_ZVB_THREAD_STACK_SIZE
	int "ZVB Zephyr Virtual Bus thread stack size"
	default 4096

config ZVB_BUS_ZVB_INIT_PRIORITY
	int "ZVB Zephyr Virtual Bus initialization priority"
	default 50

endif # ZVB_BUS_ZVB
