# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config ACTUATOR_DRI0042
	bool "DFRobot DRI0042 device driver"
	default y
	depends on DT_HAS_DFROBOT_DRI0042_ENABLED
	select PWM
	select GPIO
	select CONTROL_SYSTEM
	select CONTROL_SYSTEM_SIGNAL
