# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config ACTUATOR
	bool "Actuator device driver support"

if ACTUATOR

rsource "Kconfig.servo_pwm"
rsource "Kconfig.zvb"

endif # ACTUATOR
